canvas {
  margin-left: 30px;
  margin-bottom: 5px;
}

h1 {
  margin-left: 30px;
  margin-top: 10px;
}

* {
  font-family: 'Roboto', sans-serif;
}

.timer {
  font-size: 30px;
  margin-left: 30px;
}

.level {
  font-size: 30px;
  margin-left: 30px;
}

.inst {
  margin-top: 0px;
  margin-left: 30px;
  font-size: 30px;
}
